<h1>Posts</h1>
    {{#each posts}}
        <hr>
        <h2><a href="/posts/{{this._id}}">{{this.charityName}}</a></h2>
        <h4><a href="/posts/{{this._id}}">{{this.name}}</a></h4>
        <h3>{{this.amountGiven}}</h3>
    {{/each}}
        